<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Ricardo Masao Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="x-shader/x-vertex" id="vertexshader">

      attribute float alpha;
      attribute float size;

      varying float vAlpha;
      varying float vSize;

      void main() {

          vAlpha = alpha;
          vSize = size;

          vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

          gl_PointSize = vSize;

          gl_Position = projectionMatrix * mvPosition;

      }

  </script>

  <script type="x-shader/x-fragment" id="fragmentshader">

      uniform vec3 color;

      varying float vAlpha;

      void main() {

          gl_FragColor = vec4( color, vAlpha );

      }

  </script>

</head>
<body>
  <main class="main">
    <%= yield %>
  </main>

</body>
</html>
